/ogbn-arxiv/src/__pycache__/
/ogbn-arxiv/dataset/
/ogbn-products/dataset/
/ogbn-products/src/__pycache__
/ogbn-proteins/src/__pycache__
/ogbl_no_sampling/src/__pycache__
/ogbl_sampling_methods/src/__pycache__
dataset/*
nohup.*
*.out
*.log
/.vscode/
/.idea/
*.zip
output*/
checkpoint*/